@*@using Microsoft.AspNetCore.Identity*@
@using Samurai.Integration.EntityFramework.Repositories

@*@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject UserProfileRepository UserProfileRepository*@

@*@if (SignInManager.IsSignedIn(User))*@
@*{*@
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Dashboard">Home</a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Suporte</a>
            <div class="dropdown-menu">
                <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Sentinel">
                    <div class="drop-menu">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-robot" viewBox="0 0 16 16">
                            <path d="M6 12.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5ZM3 8.062C3 6.76 4.235 5.765 5.53 5.886a26.58 26.58 0 0 0 4.94 0C11.765 5.765 13 6.76 13 8.062v1.157a.933.933 0 0 1-.765.935c-.845.147-2.34.346-4.235.346-1.895 0-3.39-.2-4.235-.346A.933.933 0 0 1 3 9.219V8.062Zm4.542-.827a.25.25 0 0 0-.217.068l-.92.9a24.767 24.767 0 0 1-1.871-.183.25.25 0 0 0-.068.495c.55.076 1.232.149 2.02.193a.25.25 0 0 0 .189-.071l.754-.736.847 1.71a.25.25 0 0 0 .404.062l.932-.97a25.286 25.286 0 0 0 1.922-.188.25.25 0 0 0-.068-.495c-.538.074-1.207.145-1.98.189a.25.25 0 0 0-.166.076l-.754.785-.842-1.7a.25.25 0 0 0-.182-.135Z" />
                            <path d="M8.5 1.866a1 1 0 1 0-1 0V3h-2A4.5 4.5 0 0 0 1 7.5V8a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1v1a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-1a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1v-.5A4.5 4.5 0 0 0 10.5 3h-2V1.866ZM14 7.5V13a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V7.5A3.5 3.5 0 0 1 5.5 4h5A3.5 3.5 0 0 1 14 7.5Z" />
                        </svg>
                        <div>Sentinel</div>
                    </div>
                </a>
                <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Logs"><div class="drop-menu"><i class="bi bi-card-checklist"></i><div>Logs</div></div></a>
                <a class="nav-link text-dark" asp-area="" asp-page="/Admin/IntegrationErrors"><div class="drop-menu"><i class="bi bi-bookmark"></i><div>Tags de erro</div></div></a>
            </div>
        </li>

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Users">Usuários</a>
            </li>


        <ul class="navbar-nav navbar-nav flex-grow-1 justify-content-end">
            <li class="nav-item">
                <a id="manage" class="nav-link text-dark" href="#">Olá @* @UserProfileRepository.GetNameById(UserManager.GetUserId(User))*@!</a>
            </li>
            <li class="nav-item">
                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                    <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Sair</button>
                </form>
            </li>
        </ul>
@*}*@

