@page
@model Samurai.Integration.Front.DashboardModel
@{
    ViewData["Title"] = "Dashboard";
}

<h1>@ViewData["Title"]</h1>

<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.dataTables.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap4.min.css">
<style type="text/css">

</style>
<div ng-controller="tenantDashboardController" class="ng-cloak dashboard">

    <fieldset class="form-group">
        <h4>Filtros</h4>
        <div class="input-group">
            <div class="col-sm-4" style="padding-left:0;">
                <label for="selectStatus">Status da Integração</label>
                <select ng-model='status' id="selectStatus" class="form-control" ng-change="changeStatus()" required ng-options='option.value as option.name for option in typeOptions'></select>
            </div>
            <div class=" col-sm-4">
                <label for="selectStatus">Plataforma</label>
                <select ng-model='shop' id="selectIntegrationShop" class="form-control" ng-change="changeIntegrationType()" required ng-options='option.value as option.name for option in integrationsShop'></select>
            </div>
            <div class=" col-sm-4" style="padding-right:0;">
                <label for="selectStatus">ERP</label>
                <select ng-model='erp' id="selectIntegrationERP" class="form-control" ng-change="changeIntegrationType()" required ng-options='option.value as option.name for option in integrationsERP'></select>
            </div>
        </div>
    </fieldset>
    <hr>

    <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" class="table table-striped dashboard"></table>

</div>

@section Scripts {
<script src="~/js/tenantDashboardController.js" asp-append-version="true"></script>
}