@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "";
}

<h1>@ViewData["Title"]</h1>
<h4 id="external-login-title" class="text-center">Confirmação de dados do seu e-mail Samurai Experts.</h4>
<hr />


<div class="row">
    <div class="col-12 col-md-4">
    </div>
    <div class="col-12 col-md-4">
        
        <p id="external-login-description" class="text-info">
            Você se autenticou com <strong>@Model.ProviderDisplayName</strong>.    
        </p>

        <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" readonly/>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Name"></label>
                <input asp-for="Input.Name" class="form-control"/>
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-entrar">Entrar</button>
            </div>            
        </form>
    </div>
    <div class="col-12 col-md-4">
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            $('.btn-entrar').click(function (e) {
                $(this).prop('disabled', true);
                $(this).html(
                    '<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>Entrando...'
                );
                $('form').submit();
            });
        });
    </script>
    <partial name="_ValidationScriptsPartial" />
}
